/* xl-размер (>=1200px) */
    /* CSS для >=1200px */

    /* lg-размер (<=1199px) */
    @media (max-width: 1199px) {

      /* CSS для ширины от 992px до 1199px */
       /* ul li a {
        font-size: 10px;
      } */
      /* h1 {
        font-size: 10px;

      } */
    }

    /* md-размер (<=991px) */
    @media (max-width: 991px) {
      /* CSS для ширины от 768px до 991px */
      div.tovar .card {
        width: 400px;
        /* height: 500px; */
        font-size: 20px;
        /* border: 1px solid red; */
      }
      div.tovar .card {
    width: 250px;
  }
  .card-sale {
    /* width: 100px; */
  }
    }

    /* sm-размер (<=768px) */
    @media (max-width: 767px) {
      /* CSS для ширины от 576px до 767px */
      .footer, .footer p {
          font-size: 10px;
      }
      .footer-contact {
          width: 150px;
      }
       div.tovar .card {
        width: 350px;
        font-size: 20px;
      }
      .card-sale {
        /* width: 100px; */
      }
    }

    /* xs-размер (<=575px) */
    @media (max-width: 575px) {
      /* CSS для ширины до 575px (включительно) */
      ul li a {
          /* width: 200px; */
          font-size: 15px;
      }
      /* ul {
        justify-content: space-around;
      } */
      .top-menu {
        display: block;  
        width: 100%;
        margin-right: 0;
      }
      
      .logoTop {
        height: 50px;
    } 
    ul.top-menu li {
     display: block;
     /* border: 1px solid red; */
    }
    #titleText {
      font-size: 30px;
    }
    .descMain {
      font-size: 20px;

    }
    .info {
    margin-left: 10px;

    }
    div.tovar .card {
    width: 280px;
  }
  .modal-image-product {
      width: 140px;
      height: 140px;
    }
    .modal-description-product {
      font-size: 12px;
    }
    .contentModal {
      width: 150px;
    }
    .countInput {
      width: 50px;
    }
    .modal-name-product {
      font-size: 24px;
    }

  }
